.card {
    background-color: #5e6688;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}